.plain_text {
    margin: 0 auto;
    padding-top: 100px;
    /* justify-content: center; */
    width: 1500px;
    /* text-align: center; */
    /* font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif; */
}

.plain_than {
    padding-top: 50px;
}
 .content_text h1{
    color:#fff;
    font-size: 50px;
    font-family: 'Comic Neue', cursive; 
    /* font-family: 'Comic Neue', cursive; 
     font-family: 'Jost', sans-serif; 
    font-family: 'Roboto', sans-serif; */
    /* font-family: "Poppins", sans-serif; */

    /* font-family: 'Comic Neue', cursive; */
    /* font-family: 'Fascinate', cursive; */
    /* font-family: 'Jost', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}
.plain_than .content_text button{
    border-radius: 30px;
     background-color: #ff2d55;
      color: #fff;
       font-size: 20px;
       padding: 10px 20px; 
       margin: 5px;
}

.plain_than .content_text h4{
    color:#fff;
    margin-top: 20px;
    font-family: 'Comic Neue', cursive;
}
.carousel-inner h1{
    font-size: 150px;
    /* margin-bottom: 200px; */
    /* padding: 480px;  */
    text-align: center;
    font-family:  "Roboto", sans-serif;
    justify-content: center;
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  /*  pop up demo show hide  */

#show-content{
    z-index: 10000000000;
    width: 500px;
    height: 500px;
    display:none;
    background-color: red;
    /* để cái absolute này thì mới chỉnh được top left các thứ */
    position:absolute;
    /* 3 dòng dưới này là căn giữa, cách căn giữa */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: example;
    animation-duration: 1s;
  
  }
  @keyframes example {
  from {left: 50%;
      top:-100%;
       transform: translate(-50%,0%);}
  to {top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);}
  }
  .hide{
    animation-name: example1;
    animation-duration: 1s;
  }
  @keyframes example1 {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);}
  to {left: 50%;
    top:-150%;
    transform: translate(-50%,0%);}
  }



  
/* bsw_popup : chung */
.bsw_popup_{
    background:rgb(201, 210, 222);
    border-radius:4px;
    z-index:999;
    width:940px;
    height: 500px;
    max-width:100%;
    position:fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:20px;
    box-sizing:border-box;
    box-shadow:0 0 100px rgba(0,0,0,.1)
  }
  .main{
    padding-left: 99%;
    width: 20px;
    height: 20px;
  }
  .main img{
    width: 17px;
    height: 17px;
   
  }
  .main1{
    width: 360px;
    padding-top: 0px;
    float: left;
  
  }
  .main1 h5{
    font-size: 18px;
    color: black;
    padding-top: 20px;
  }
  .main2{
    width: 540px;
    padding-top: 20px;
    padding-right: 10px;
    float: right;
   
  }
  
  .main2 ol li{
    font-size: 18px;
    padding-bottom: 37px;
  }
  .main2 audio{
    width: 330px;
    height: 30px;
    padding-top: 5px
  
  }
  /* end bsw_popup */
  
  
  
  