.plain_text {
    margin: 0 auto;
    padding-top: 100px;
    /* justify-content: center; */
    width: 1500px;
    /* text-align: center; */
    /* font-family: 'Comic Neue', cursive;
    font-family: 'Roboto', sans-serif; */
}

.plain_than {
    padding-top: 50px;
}
 .content_text h1{
    color:#fff;
    font-size: 50px;
    font-family: 'Comic Neue', cursive; 
    /* font-family: 'Comic Neue', cursive; 
     font-family: 'Jost', sans-serif; 
    font-family: 'Roboto', sans-serif; */
    /* font-family: "Poppins", sans-serif; */

    /* font-family: 'Comic Neue', cursive; */
    /* font-family: 'Fascinate', cursive; */
    /* font-family: 'Jost', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}
.plain_than .content_text button{
    border-radius: 30px;
     background-color: #ff2d55;
      color: #fff;
       font-size: 20px;
       padding: 10px 20px; 
       margin: 5px;
}

.plain_than .content_text h4{
    color:#fff;
    margin-top: 20px;
    font-family: 'Comic Neue', cursive;
}
.carousel-inner h1{
    font-size: 150px;
    /* margin-bottom: 200px; */
    /* padding: 480px;  */
    text-align: center;
    font-family:  "Roboto", sans-serif;
    justify-content: center;
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  /*  pop up demo show hide  */
  .plain_than_img {
    width: 100%;
  }

  .form-buy-ticket {
    display: none;
    width: 100%;
    height: 100%;
position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 99999999;
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .form-buy-ticket_content {
    width: 60%;

    background-color: rgb(255, 255, 255);
    animation-name: show;
    transform: translate(-50%, -50%);
    animation-duration: 0.5s;
  }

  @keyframes show {
    from {top: -150%;
    left: 50%;
    transform: translate(-50%, 0);}
    to {top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
  }

  .hide-form-buy-ticket{
    position: absolute ;
    top: 50% ;
    left: 50%;
    animation-name: hide;
    animation-duration: 0.5s;
  }
  @keyframes hide {
    from {
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);}
    to {
      top: -150%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .form-buy-ticket_content_header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: black;
  }
  .btn-close-form-buy-ticket:hover{
    color: rgb(221, 221, 221);
  }
  .form-buy-ticket_content_body{
    padding: 40px 10% 40px 10%;

  }
  .btn-block:hover{
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  } 
 



  
  
  